<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>

<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <p>Comments:</p>
    <li><%= review.content %></li>
    <br><p>Ratings:</p>
    <li><%= review.rating %></li>
  <% end %>
</ul>


<%= link_to "Add a new review", new_restaurant_review_path(@restaurant) %>
